{% extends 'layout.html' %} {% block content %}
<div class="container">
  <div class="row">
    <h1 class="display-1">About</h1>
  </div>
  <hr />
  <div class="row">
    <p>
      Maths of Neural Networks Explained (MoNNE) is a tool designed to help
      students understand the maths behind neural networks.
    </p>
  </div>
  <hr />
  <div class="row"><h1>FAQ</h1></div>
  <div class="row">
    <h3>Q: How do I use this tool?</h3>
    <p>
      A: Adjust the sliders to create the neural network with your preferred
      settings, then adjust the input slider at the top to see how the network
      changes. To see the equations at each step, click on a node or connecting
      line.
    </p>
    <h3>Q: I don't understand the maths. Is there a less confusing mode?</h3>
    <p>A: A more simple interface is planned to be added in the near future.</p>
    <h3>Q: I can't see anything when I click the Load Demo button!</h3>
    <p>
      A: Some devices may be unable to render the visualiser. Please ensure
      JavaScript is enabled and that your device supports JavaScript. If any
      issues occur, please contact me <a href="/contact">here.</a>
    </p>
    <h3>Q: My issue isn't listen here.</h3>
    <p>
      A: Please contact me <a href="/contact">here</a> for any issues /
      enquiries.
    </p>
  </div>
</div>
{% endblock %}
